[phases.setup]
nixPkgs = ["jdk17", "maven"]
# Esto le da permiso de ejecución al archivo para que Railway pueda usarlo
cmds = ["chmod +x mvnw"]

[phases.install]
cmds = ["./mvnw dependency:go-offline"]

[phases.build]
dependsOn = ["setup"]
cmds = ["./mvnw clean package -DskipTests"]

[start]
# El asterisco asegura que encuentre el .jar sin importar el nombre exacto de la versión
cmd = "java -jar target/*.jar"