[phases.setup]
nixPkgs = ["maven", "jdk17"]

[phases.install]
cmds = ["mvn dependency:go-offline"]

[phases.build]
cmds = ["mvn clean package -DskipTests"]

[start]
cmd = "java -Dserver.port=$PORT -jar target/backend-salud-1.0.0.jar"

